.main-input {
    border: 3px solid black;
    padding: 5vmin;
    margin-top: 10vh;
    border-radius: 50px;
}
.input {
    margin-top: 2vmin;
    margin-bottom: 2vmin;
    border: 2px solid black;
}
.about {
    padding-bottom: 10vmin;
    border: 2px solid black;
}
.about-badge {
    padding-bottom: 10vmin;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    font-size: 20px;
}
.about-me {
    padding: 2vmin;
    display: inherit;
}
.head {
    text-align: center;
}
.sub-but {
    text-align: center;
    margin-top: 5vmin;
    border: 3px solid black;
    font-size: 20px;
}
.sub-but a {
    color: black;
}
.sub-but a:hover {
    text-decoration: none;
    cursor: pointer;
}
.badge-head{
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    color: white;
    font-size: 30px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
.badge-title{
    margin-left: 2vmin;
}
.main-badge {
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.badge-left div {
    margin-top: 3vmin;
    margin-bottom: 3vmin;
    font-size: 18px;
}
.badge-right div {
    margin-top: 3vmin;
    margin-bottom: 3vmin;
    font-size: 18px;
}
.key {
    font-size: 20px;
    font-weight: 600;
}
.badge-title a {
    float: right;
    margin-right: 3vmin;
    color: white;
}
.badge-title a:hover {
    color: black;
    cursor: pointer;
}
.full-name {
    display: none;
    color: white;
    font-size: 40px;
}
.about-badge {
    text-align: center;
}
.expand {
    display: none;
}

