html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-image: url("./images/nike1.jpg");
    background-position: center;
    background-attachment: fixed;
}

.main {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    margin-bottom: 30vh;
    margin-top: 30vh;
}
.title {
    color: black;
    font-size: 50px;
}

.instruction {
    color: black;
    font-size: 25px;
    font-weight: 700;
}

.input {
    padding: 1vmin;
    margin: 1vmin;
    font-size: 20px;
    background-color: black;
    color: white;
}

.add {
    font-size: 30px;
    color: black;
    padding: 1vmin;
    border: 3px solid black;
}

.add:hover {
    text-decoration: none;
    color: white;
    background-color: black;
    cursor: pointer;
    border: 3px solid white;
}

.ind-items {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    text-align: left;
    padding: 1vmin;
    margin: 1vmin;
    border-radius: 25px;
    color: white;
}

.ind-items a {
    color: white;
}
.ind-items a:hover {
    color: black;
    cursor: pointer;
}

.edit {
    float: right;
    margin-left: 2vmin;
}

.remove {
    float: right;
}
.edit-item {
    margin: 1vmin;
    border: 3px solid white;
    padding: 1vmin;
}
.edit-item:hover{
    text-decoration: none;
    color: black;
    background-color: white;
    border: 3px solid black;
}
