body {
    background-image: url("./images/yoda 3.jpg");
    background-position: top;
    background-position-y: 50%;
    background-attachment: fixed;
}
.main-input {
    text-align: center;
}
.main-header {
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.4);
}
h3 {
    font-style: italic;
}
.input {
    font-size: 20px;
    margin-top: 5vmin;
    background-color: black;
    border: 3px solid white;
    color: white;
    background-color: rgba(0,0,0,0.4) ;
}
.button {
    font-size: 30px;
    border: 3px solid white;
    padding: .5vmin 4vmin;
    color: white;
}
.button:hover{
    text-decoration: none;
    cursor: pointer;
    color: black;
    background-color: rgba(255,255,255,0.4);
    border: 3px solid black;
}
.main-button {
    text-align: center;
    margin-top: 2vmin;
}
.whole-input {
    background-color: rgba(0,0,0,0.4);
    padding-bottom: 5vmin;
}
.sentence{
    color: white;
    text-align: center;
    margin-top: 5vmin;
}